/*BKG HOMEPAGE*/
    body, html {
        padding: 0;
        margin: 0;
        font-family: Helvetica;
        height: 100vh;
        width: 100vw;
        color: #ffffff;
        overflow: hidden;
        position: relative;
    }

    .background-video {
        position: relative;
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    #bgVideo {
        position: absolute;
        object-fit: cover; /* Ensures the video fills the space */
        width: 100vw;
        height: 100vh;
        z-index: -1; /* Places the video behind content */
    }

/*HOMEPAGE*/
    .linkscolumn {
        position: absolute;
        top: 25px;
        right: 25px;
        padding: 10px;
        z-index: 2;
    }

    .vertical-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .vertical-column a {
        display: block;
        margin-bottom: 10px;
        color: transparent;
        text-decoration: none;
        background-color: transparent;
        padding: 5px;
        width: 100%;
        text-align: center;
    }

    .vertical-column a:hover {
        background-color: rgb(0, 38, 255);
        color: rgb(255, 255, 255); /* Change text color when hovered for contrast */
    }

    a {
        text-decoration: none;
        z-index: 999; /* Ensure update above*/
    }

    a:hover {
        text-decoration: none;
        z-index: 999; /* Ensure update above*/
    }

    a strong {
        text-decoration: none;
        z-index: 999; /* Ensure update above*/ 
    }

    /*CONTAINER*/
    .container {
        width: 50vw; /* 100% of the viewport width */
        height: 100vh; /* 100% of the viewport height */
        display: grid;
        grid-template-columns: repeat(19, 1fr); /* 19 equal columns */
        grid-template-rows: repeat(20, 1fr); /* 20 equal rows */
        z-index: 1;
        position: absolute;
      }
      
      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; /* Ensures items fill their grid cell vertically */
        width: 100%; /* Ensures items fill their grid cell horizontally */
      }
      
      .item:hover {
        background-color: rgb(0, 38, 255); /* Change color on hover */
      }
    
/*SEA OF LINKS*/
    .supercontainer {
        width: 100vw; /* 100% of the viewport width */
        height: 100vh; /* 100% of the viewport height */
        display: grid;
        grid-template-columns: repeat(19, 1fr); /* 19 equal columns */
        grid-template-rows: repeat(20, 1fr); /* 20 equal rows */
        z-index: 1;
        position: absolute;
      }
      
      .hover-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent; 
        height: 100%; /* Ensures items fill their grid cell vertically */
        width: 100%; /* Ensures items fill their grid cell horizontally */
      }
      
      .hover-item {
        background-color: transparent; 
      }
      
      .hover-text {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        font-size: 25px;
        text-align: center;
        visibility: hidden;
        transition: opacity 0.3s ease;
      }
      
      .hover-container:hover .hover-text {
        opacity: 1;
        visibility: visible;}

      .hover-item-link {
            text-decoration: none; /* Prevents underlines on links */
            display: block; /* Makes the anchor behave like a block element */
          }

/*TRIGGER RETURN TO MAIN PAGE*/
#trigger-text3 {
    cursor: pointer;
    text-decoration: none
}

.return {
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 10px;
}

/*CHATROOM*/
.Chatroom {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 75%;
    width: 75%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}








/*READING*/
.img1 {
    width: 250px;
    height: auto;
    cursor: pointer;
    z-index: 104; /*MINDFUL*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img1container {
    position: absolute;
    width: 250px; /* Including padding */
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 104; /*MINDFUL*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 25px; 
    left: 100px; 
}

.img2 {
    width: 200px;
    height: auto;
    cursor: pointer;
    z-index: 104; /*MALATESTA*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img2container {
    position: absolute;
    width: 200px; /* Including padding */
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 104; /*MALATESTA*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 325px; 
    left: 400px; 
}

.img3 {
    width: 200px;
    height: auto;
    cursor: pointer;
    z-index: 116; /*KANEHSATAKE*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img3container {
    position: absolute;
    width: 200px; /* Including padding */
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 116; /*KANEHSATAKE*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 200px; 
    left: 800px; 
}

.img4 {
    width: 70px;
    height: auto;
    cursor: pointer;
    z-index: 115; /*HAYXTT*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img4container {
    position: absolute;
    width: 70px; /* Including padding */
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 115; /*HAYXTT*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 500px; 
    left: 650px;
}

.img5 {
    width: 70px;
    height: auto;
    cursor: pointer;
    z-index: 251; /*SAVTTV*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img5container {
    position: absolute;
    width: 70px; /* Including padding */
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 251; /*SAVTTV*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 225px; 
    left: 325px;
}

.img6 {
    width: 250px;
    height: auto;
    cursor: pointer;
    z-index: 100; /*CONSENT*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img6container {
    position: absolute;
    width: 250px; /* Including padding */
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 100; /*CONSENT*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 270px; 
    left: 200px;
}

.img7 {
    width: 225px;
    height: auto;
    cursor: pointer;
    z-index: 115; /*defundthepolice*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img7container {
    position: absolute;
    width: 225px; /* Including padding */
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 115; /*defundthepolice*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 615px; 
    left: 770px; 
}

.img8 {
    width: 200px;
    height: auto;
    cursor: pointer;
    z-index: 101; /*CCA*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img8container {
    position: absolute;
    width: 200px; /* Including padding */
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 101; /*CCA*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 500px; 
    left: 300px; 
}

.img9 {
    width: 150px;
    height: auto;
    cursor: pointer;
    z-index: 107; /*1granary*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img9container {
    position: absolute;
    width: 150px; /* Including padding */
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 107; /*1granary*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 225px; 
    left: 75px;  
}

.img10 {
    width: 150px;
    height: auto;
    cursor: pointer;
    z-index: 111; /*thinkingfashion*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img10container {
    position: absolute;
    width: 150px; /* Including padding */
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 111; /*thinkingfashion*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 450px; 
    left: 1015px; 
}

.img11 {
    width: 300px;
    height: auto;
    cursor: pointer;
    z-index: 110; /*changeoffline*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img11container {
    position: absolute;
    width: 300px; 
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 110; /*changeoffline*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 750px; 
    right: 25px; 
}

.img12 {
    width: 150px;
    height: auto;
    cursor: pointer;
    z-index: 105; /*thework*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img12container {
    position: absolute;
    width: 150px; 
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 105; /*thework*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 425px; 
    right: 620px; 
}

.img13 {
    width: 200px;
    height: auto;
    cursor: pointer;
    z-index: 100; /*benjamin*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img13container {
    position: absolute;
    width: 200px; 
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 100; /*benjamin*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 100px; 
    left: 1100px; 
}

.img14 {
    width: 150px;
    height: auto;
    cursor: pointer;
    z-index: 102; /*Free-Palestine-Worldwide*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img14container {
    position: absolute;
    width: 150px; 
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 102; /*Free-Palestine-Worldwide*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 250px; 
    left: 575px; 
}

.img15 {
    width: 90px;
    height: auto;
    cursor: pointer;
    z-index: 106; /*radioalhara*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img15container {
    position: absolute;
    width: 90px; 
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 106; /*radioalhara*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 150px; 
    left: 25px; 
}

.img16 {
    width: 200px;
    height: auto;
    cursor: pointer;
    z-index: 100; /*wondercabinet*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img16container {
    position: absolute;
    width: 200px; 
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 100; /*wondercabinet*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 225px; 
    left: 375px;
}

.img17 {
    width: 150px;
    height: auto;
    cursor: pointer;
    z-index: 106; /* pflp */
    position: relative;
    display: block;
    margin: 0 auto; 
}

.img17container {
    position: absolute;
    width: 150px; 
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 106; /*pflp*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 450px; 
    left: 600px;
}

.img18 {
    width: 100px;
    height: auto;
    cursor: pointer;
    z-index: 190; /*Dries Van Noten*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img18container {
    position: absolute;
    width: 100px; 
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 255; /*Dries Van Noten*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 620px; 
    left: 200px;
}

.img19 {
    width: 150px;
    height: auto;
    cursor: pointer;
    z-index: 190; /*union*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img19container {
    position: absolute;
    width: 150px; 
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 190; /*union*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 700px; 
    left: 1300px;
}

.img20 {
    width: 150px;
    height: auto;
    cursor: pointer;
    z-index: 160; /*flower*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img20container {
    position: absolute;
    width: 150px; 
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 160; /*flower*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 375px; 
    left: 100px;
}

.img21 {
    width: 150px;
    height: auto;
    cursor: pointer;
    z-index: 115; /*surface tension*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img21container {
    position: absolute;
    width: 150px; 
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 115; /*surface tension*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    top: 185px; 
    left: 950px;
}

.img22 {
    width: 150px;
    height: auto;
    cursor: pointer;
    z-index: 115; /*slowfactory*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img22container {
    position: absolute;
    width: 150px; 
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 115; /*slowfactory*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    bottom: 25px; 
    left: 1000px;
}

.img23 {
    width: 150px;
    height: auto;
    cursor: pointer;
    z-index: 105; /*samaa*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img23container {
    position: absolute;
    width: 150px; 
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 115; /*samaa*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    bottom: 105px; 
    right: 600px;
}

.img25 {
    width: 150px;
    height: auto;
    cursor: pointer;
    z-index: 105; /*lucida*/
    position: relative;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.img25container {
    position: absolute;
    width: 150px; 
    height: auto;
    padding: 10px;
    cursor: move;
    z-index: 115; /*lucida*/
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    bottom: 500px; 
    right: 500px;
}






/*YOUTUBE*/
.YouTubeVid1 {
    position: absolute;
    top: 100px; 
    left: 300px;
    padding: 10px;
    cursor: move;
    z-index: 199; /*YOUTUBE-ALICE*/
}

.YouTubeVid2 {
    position: absolute;
    top: 475px; 
    left: 50px;  
    padding: 10px;
    cursor: move;
    z-index: 200; /*YOUTUBE-ARPI*/
}

.YouTubeVid3 {
    position: absolute;
    top: 335px; 
    left: 750px; 
    padding: 10px;
    cursor: move;
    z-index: 106; /*YOUTUBE-SAV*/
}

.YouTubeVid4 {
    position: absolute;
    top: 550px; 
    left: 400px;  
    padding: 10px;
    cursor: move;
    z-index: 125; /*YOUTUBE-MEGAN*/
}

.YouTubeVid5 {
    position: absolute;
    top: 655px; 
    left: 650px;   
    padding: 10px;
    cursor: move;
    z-index: 105; /*YOUTUBE-JULIE*/
}


/*bandcamp*/
.bandcamp-container {
    position: fixed;
    bottom:0;
    width: 100vh;
    height: 120px; /* Ensure this matches the iframe's height */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*personal log*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
    width: 100%; /* Ensure grid container does not exceed viewport width */
    max-width: 100vw; /* Prevent horizontal overflow */
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling if needed */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    margin: 0 auto;
}

/* Grid item with responsive image */
.grid-item {
    position: relative;
    text-align: center;
    padding: 10px; /* Ensure padding for text-only items */
    box-sizing: border-box;
}

/* Fix image size to prevent resizing */
.grid-item img {
    width: 100%;
    width: 250px;
    height: auto;
    display: block;
}

/* Overlay text */
.grid-item .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
}

/* Styling for text-only blocks */
.grid-item .text-only {
    font-size: 20px;
    color: #000000;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: auto;
    background-color: #ffffff; /* Different background for text items */
    text-align: center;
}


.grid-container {
    padding-bottom: 20px; /* Add space at the bottom */
    height: auto; /* Adjust height to allow content to grow */
}




